body {
  font-size: 13px;
}

hr {
  margin-bottom: 15px;
}

a {
  color: white;
}

.colored.banner {
  background-image: linear-gradient(to right, #D8254C, #496784);
  font-family: Open sans, sans-serif;
  color: white;
  text-align: center;
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.black-background {
  background-color: black;
}

.grey-background {
  background-color: #282828;
  color: white;
  a: white;
}

.white-background {
  background-color: rgba(255,255,255,.9)
}

.ui.inverted.menu.container {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: black;
  color: white;
}

.ui.inverted.topmidmenu.menu {
  color: white;
}

.ui.grid.productitem {
  height:336px;
  width: 271px;
}

.ui.center.aligned.grid.icongap {
  margin-top: 30px;
  margin-bottom: 60px;
}
.ui.center.aligned.grid.footer {
  font-size: 12px;
  color: white;
}

.topfooter {
  padding-top: 75px;
  padding-bottom: 90px;
}

.nobottom {
  margin-bottom: 5px;
}

.notop {
  margin-top: 5px;
}

.productdivider {
  margin-bottom: 20px;
  margin-top: 20px;
}

.productdivider2 {
  margin-bottom: 60px;
  margin-top: 20px;
}

.productsmenu {
  margin-bottom: 40px;
  margin-top: 40px;
}

.producttext a {
  color: black !important;
}

.pricetext {
  color: #C0C0C0;
  font-size: 12px;
}

.producttext {
  font-family: 'montserrat', sans-serif;
}

.toprightimg {

}

.fce1 {
  background: url('https://cdn.shopify.com/s/files/1/0077/5352/collections/mens_bigS_back_black_4bfe22e2-e87e-4b45-bd19-606c4f1b8d67_grande.jpg?v=1503686058') no-repeat;
  background-size: 271px 336px;
}

.fce2 {
  background: url('https://cdn.shopify.com/s/files/1/0077/5352/collections/LTS_tee_black_womens_no_logo_grande.jpg?v=1505754859') no-repeat;
  background-size: 271px 336px;
}
